@charset "utf-8";

/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #1a1a1a;
	margin: 0;
	transition: background 0.2s linear;
}

.navbar {
  width: 100%;
  height: auto;
  background-color: #555;
  position:fixed;
  top: 0;
}

.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown .dropbtn{
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 18px 18px;
  background-color: #555;
  font-family: Arial;
  font-weight: bold;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: yellow;
  color: #555;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
} 
  
.link{
		font-family: Arial;
		font-size:20px;
		font-weight: bold;
		text-decoration: none;
		color: white;
		float: left;
		text-align: center;
		padding: 18px 18px;
}

.link:hover{
	background-color:yellow !important; 
	color: #555 !important;
}

.fileHandle{
		font-family: Arial;
		font-size:20px;
		font-weight: bold;
		text-decoration: none;
		color: white;
		float: left;
		text-align: center;
		padding: 18px 18px;
}

.navbar .icon{
	display: none;	
}

#tdMakerButton{
	color:yellow;
}


#tdMakerButton:hover, #tdTesterButton:hover{
	background-color: yellow;
	color: #555;
}

.fileHandle:hover, .dropbtn:hover{
	background-color: yellow;
	color: #555;
}

#bars{
	color: white;
	font-size: 2.5em;
	padding: 15px 15px;
}



.container{
	height: auto;
	overflow: none;
}


#kaaviologo{
	width: 280px;
	height: 64px;
	float: left;
}

#help{
	width: 40px;
	height: 40px;
	float: right;
	margin: 12px;
}

#setting{
	width: 40px;
	height: 40px;
	float: right;
	margin: 12px;
}

#generate, #test{
	margin-top: 10px;
	background-color: yellow;
	color: #1a1a1a;
	float: right;
	border-color: yellow;
	font-size: 20px;
	font-family:  Helvetica, sans-serif;
	font-weight: bold;
	border-radius: 12px;
	padding: 5px;
	padding-left:8px;
	padding-right:8px;
	margin: 15px;
	width: 300px;
}

#test{
	margin-top: 14px;
}

#generate:hover, #test:hover{
	font-size: 20px;
	font-family:  Helvetica, sans-serif;
	font-weight: bold;
	border-radius: 12px;
	background-color: #1a1a1a;
	border-color: yellow;
	color: yellow;
}

#generate:active, #test:active{
	font-size: 20px;
	font-family:  Helvetica, sans-serif;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#reset{
	background-color: #1a1a1a;
	color: white;
	border-radius: 12px;
	font-size: 20px;
	font-family:  Helvetica, sans-serif;
	font-weight: 2px;
}

#reset:hover{
	background-color: #1a1a1a;
	color: yellow;
	border-radius: 12px;
	font-size: 20px;
	font-family:  Helvetica, sans-serif;
	font-weight: 5px;
}

#reset:active{
	background-color: #1a1a1a;
	color: yellow;
	border-radius: 12px;
	font-size: 20px;
	font-family:  Helvetica, sans-serif;
	font-weight: 5px;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#canvasPreview{
	background-color: white;
	weight: 100%;
	height: 80vh;
	border-radius: 12px;
	overflow: auto;
}

#dataArea{
	width: 100%;
	height: 80vh;
	background-color: black;
	color: white;
	border-radius: 12px;
	font-family:'Courier New';
	font-size: 20px;
	overflow: auto;
	white-space: nowrap;
	resize: none;
}

#defArea, #delArea {
	overflow-y:auto;
	overflow-x:scroll;
	resize:none;
	white-space: nowrap;
	font-family: consolas;
	font-size: 20px;
	margin: 0;
	width: 100%;
	height: 72vh;
}

#import:hover{
	cursor: pointer;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 250px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}

.modalDialogHelp {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialogHelp:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialogHelp > div {
	width: 830px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	height: 600px;
	overflow-y: auto;
}

.modalDialogHelp > div > img {
	width:700px;
}


.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 13px;
	text-align: center;
	top: 10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

#closeHelp{
    position: fixed;
    width: 800px;
}

.closeHelp {
    background: #606061;
    color: #FFFFFF;
    position: relative;
    right: -760px;
    text-align: center;
    top: 10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 24px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    padding: 5px;
    padding-left: 8px;
    padding-right:8px;
}

.closeHelp:hover { background: #00d9ff; }

.diameter{
	right: 0;
}

/* The container */
.cont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.cont:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.cont input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.cont input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.cont .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
 }
 
 @media screen and (max-width: 1000px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
 }
 
 @media screen and (max-width: 1000px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: inline-block;
  }
  .navbar.responsive .link, .fileHandle{
		font-family: Arial;
		font-size:20px;
		font-weight: bold;
		text-decoration: none;
		color: #555;
		float: left;
		text-align: center;
		padding: 18px 18px;
		width: 100%;
  }
  
}
